{{#modal-dialog close="goToIndex" translucentOverlay=true}}
  <div class="framework-modal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{framework.name}} by Google
        </h3>
      </div>
      <div class="panel-body">
        <div class="framework-modal__top-stripe">

        </div>
        <div class="framework-modal__middle-stripe">
          {{#link-to 'index.framework.scores' class="middle-stripe-link"}}Scores{{/link-to}}
          {{#link-to 'index.framework.description' class="middle-stripe-link"}}Description{{/link-to}}
          {{#link-to 'index.framework.creators' class="middle-stripe-link"}}Creators{{/link-to}}
          {{#link-to 'index.framework.jobs' class="middle-stripe-link"}}Jobs{{/link-to}}
          {{#link-to 'index.framework.community' class="middle-stripe-link"}}Community{{/link-to}}
          {{#link-to 'index.framework.compare' class="middle-stripe-link"}}Compare{{/link-to}}
        </div>
        <div class="framework-modal__main-stripe">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>

  {{!-- Age: young been around a while old --}}
{{/modal-dialog}}
